:root {
  --primary-color: #01bf71;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Expanded", sans-serif;
}
/* Min height the container for proper detecting the visual part for toggling activ navbar link */
#signup {
  min-height: 70vh;
}
.plain-page a {
  color: var(--primary-color);
  filter: brightness(0.7);
}
.plain-page a:hover {
  color: var(--primary-color);
  filter: brightness(0.8);
}
.par {
  margin: 15px 0 10px 0;
}
